.message {
    display: inline-grid;
    max-width: 400px;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));

}

.message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}


.guest {
    display: grid;
    grid-template-columns: 40px 1fr;
    max-width: 400px;
    background-color: #61d0d3;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
    margin-top: 4px;
    border: 1px solid #5acdd0;


}

.host {
    padding: 10px;
    padding-left: 200px;
    align-items: center;
    display: grid;
    grid-template-columns:  1fr 40px;
    border-radius: 25px;
    align-items: center;
    border: 1px solid #5acdd0;
    margin-top: 4px;
    max-width: 400px;


}

.host img {
    margin-left: 10px;
}